#content
{
	background-color: #FFFAFA;
	resize:none;
	border:1px solid #D1D1D1;
	width:60%;
	height:32%;
    position: relative;
    top:40px;
    left:30px;
    margin-left:auto;
	margin-right:auto;
    border-radius: 10px;
    font-size:11pt;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
}
#alert
{
    position: relative;
    top:0px;
    left:200px;
}
body
{
    background-color: #FFFFFF;
}
#submit
{
    border:1 solid black;
    font-size: 15px;
    height: 25px; 
    position: relative;
    left:40px;
    top:40px;
    cursor:pointer;
    border-radius: 6px;
	
}
#submit:hover
{
background-color:#FFFFFF;
}
#img
{
    position: relative;
    right:0px;
    top:40px;
    border-radius: 6px;
    max-width:140px;
}
#note
{
    background-color:#FFFFFF;
    font-size: 11pt;
    position: relative;
    top:40px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    height:100px;
    padding: 1% 1% 1% 1%;
    border:2px dotted #000000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
#alert
{
    background-color: #FFFFFF;
    padding: 1% 1% 1% 1%;
    position: relative;
    top:30px;
    width:400px;
    border:1px dotted #003355;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
#body
{
	background-color: #FFFFFF;
    font-family: "SimSun";
    font-size: 12pt;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    padding: 1% 1% 1% 5%;
    width: 800px;
    height: 400px;
    line-height: 100%;
    border-radius: 15px;
    border:2px solid #000000;
}

#weather
{
text-align:center;
margin:0 auto;
}